@import url(styles/details.scss);
@import url(styles/home.scss);
@import url(styles/search.scss);

* {
    margin: 0;
    padding: 0;

}

html {
    overflow-x: hidden;
}

.netflix_logo {
    margin-right: auto;
    width: 20vw;
}

.netflix_banner {
    display: flex;
    justify-content: center;

    img {
        max-width: 100vw;
    }
}

.search-icon {
    width: 20px;
}

#site-search {
    margin-right: 10px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    height: 60px;
    background-color: #161718;
}

.display_flex {
    display: flex;
}

.scroll {
    display: flex;
    flex-direction: row;
    height: 280px;
    overflow-x: auto;
    gap: 10px;
    padding-left: 10px;
}

p {
    color: antiquewhite;
    margin: 20px;
    font-size: x-large;
}

.display_none {
    display: none;
}

img {
    padding : 5px
}
.hover {
    img:hover {
    cursor: pointer;
    border: 3px solid #D81F26;
    padding: 0px;
} }

::-webkit-scrollbar {
    height: 8px;
    width: 8px;
    background-color: #000000;
}

::-webkit-scrollbar-thumb {
    background-color: #D81F26;
    border-radius: 10px;
}