.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  width: 100vw;
  background-color: #383838;
  z-index: 9999;
  display: none;
  overflow: auto;
  h2 {
    color: red;
    width: 100vw;
    height: 30px;
  }
}

ul {
  display: flex;
  li {
    flex-direction: row;
  }
}
.popup-content{
  flex-direction: row;
}


#close-popup {
    position: absolute;
    top: 0px;
    right: 10px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#btn_site_search {
  margin-right:20px;
}

.next-button {
  position: absolute;
  bottom: 10px;
  width: 100px;
  left: 130px;
  height: 50px;
  background-color: #d31919;
  color: #fff;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
}

.previous-button
{
  position: absolute;
  bottom: 10px;
  width: 100px;
  height: 50px;
  background-color: #d31919;
  color: #fff;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
}

.testimg{
  width: 50%;
  height: 50%;
}

div {
  li{
    position:relative;
    top: 50px;
    left: -50vw	;

  }
}