.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  width: 100vw;
  background-color: #383838;
  z-index: 9999;
  display: none;
  overflow: auto;
}



.popup-content h2 {
  margin-top: 0;
}

.popup-content p {
  margin-bottom: 20px;
}

#close-popup {
    position: absolute;
    top: 50px;
    right: 10px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

li{

  img{
    width: 50%;
  }
}

#btn_site_search {
  margin-right:20px;
}

#previousButton,
#nextButton {
  position: fixed;
  top: 20px;
  right: 20px;
}
